@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* ************* Navbar **************** */
.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.2s ease-in;
  border-bottom: 1px solid #F6F7F9;
  width: 100%;
}
.navbar__logo-wrapper {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .navbar__logo-wrapper {
    width: auto;
  }
}
.navbar__logo {
  display: block;
  width: clamp(60px, 1.125rem + 8.333vw, 100px);
}
.navbar__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar-toggler {
  display: inline-block;
  box-shadow: none !important;
}
.navbar-toggler .bar {
  display: block;
  margin: 5px;
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 1.5px;
  transition: margin 0.2s, transform 0.2s;
  -webkit-transition: margin 0.2s, -webkit-transform 0.2s;
  transition: margin 0.2s, -webkit-transform 0.2s;
  -o-transition: margin 0.2s, transform 0.2s;
  transition: margin 0.2s, transform 0.2s;
  transition: margin 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.navbar-toggler.close .bar:first-child {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}
.navbar-toggler.close .bar:nth-child(2) {
  opacity: 0;
}
.navbar-toggler.close .bar:last-child {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}
.navbar-collapse {
  flex-grow: unset;
  background-color: #3546AE;
  padding: 8px 16px;
  margin-top: 8px;
}
@media only screen and (min-width: 992px) {
  .navbar-collapse {
    padding: 10px 16px;
    border-radius: 48px;
    margin-top: 0;
  }
}
.navbar-nav li a {
  font-weight: 300;
  color: #fff;
  position: relative;
}
.navbar-nav li a.nav-link {
  padding: 0;
}
.navbar-nav li a.nav-link:is(:active, :visited, :focus, .active)::after {
  content: "";
  display: block;
  position: relative;
  height: 2px;
  bottom: -1;
  background-color: #fff;
  transform: scaleX(99%);
  transition: transform 0.3s ease;
}
@media only screen and (min-width: 992px) {
  .navbar-nav li a.nav-link:is(:active, :visited, :focus, .active)::after {
    height: 2px;
  }
}
.navbar-nav li a.nav-link:not(.active)::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  bottom: -1px;
  border-radius: 18%;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
@media only screen and (min-width: 992px) {
  .navbar-nav li a.nav-link:not(.active)::after {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-nav li a.nav-link:hover:not(.active)::after {
    transform: scaleX(50%);
  }
}
.navbar-nav li a.nav-link:is(.active, .show) {
  color: #fff;
  width: fit-content;
}
.navbar-nav li a:is(:hover, :focus) {
  color: #fff;
}
.navbar__profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
@media only screen and (min-width: 992px) {
  .navbar__profile-image {
    width: 50px;
    height: 50px;
  }
}
.navbar__profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.navbar.scroll-change {
  background-color: #fff;
  box-shadow: 0px 4px 4.1px 1px rgba(189, 129, 250, 0.13);
  top: -50px;
  left: 0;
  z-index: 100;
  animation: navAnimate 0.5s forwards ease-in;
}